
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-HyH {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 102.4rem;

  .dont-have-an-account-sign-up-fo-free-byy {
    line-height: 1.5;
    font-weight: 500;
    height: 1.5rem;
    left: 60.65rem;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.03rem;
    color: #000000;
    display: flex;
    width: 20.8rem;
    white-space: nowrap;
    align-items: baseline;
    top: 87.1rem;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;

    .dont-have-an-account-sign-up-fo-free-byy-sub-0 {
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.03rem;
      color: #595959;
    }
    .dont-have-an-account-sign-up-fo-free-byy-sub-1 {
    }
    .dont-have-an-account-sign-up-fo-free-byy-sub-2 {
      letter-spacing: 0.03rem;
      color: #ea454c;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.5;
    }
  }
  .sign-in-button-BKu {
    background-color: #ea454c;
    border-radius: 1.2rem;
    left: 47.76rem;
    text-align: center;
    color: #ffffff;
    align-items: center;
    display: flex;
    top: 65.1135rem;
    font-weight: 500;
    letter-spacing: 0.042rem;
    font-family: Poppins, 'Source Sans Pro';
    width: 48.64rem;
    position: absolute;
    justify-content: center;
    box-shadow: 0 0.4rem 1rem rgba(233, 68, 75, 0.25);
    height: 5.7597rem;
    font-size: 1.4rem;
    line-height: 1.5;
    white-space: nowrap;
  }
  .sign-in-button-google-DnP {
    box-sizing: border-box;
    width: 48.64rem;
    position: absolute;
    left: 47.76rem;
    display: flex;
    border: solid 0.1rem rgba(0, 0, 0, 0.25);
    border-radius: 1.2rem;
    padding: 0.864rem 14.37rem 0.864rem 10.24rem;
    height: 5.7597rem;
    top: 72.4571rem;
    align-items: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);

    .free-icon-google-300221-1-K4j {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 5.25rem;
      width: 4.48rem;
      height: 4.0318rem;
    }
    .sign-in-with-google-qYs {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      font-weight: 500;
      letter-spacing: 0.042rem;
      color: #000000;
      line-height: 1.5;
      flex-shrink: 0;
      margin-bottom: 1.0678rem;
      text-align: center;
      font-size: 1.4rem;
    }
  }
  .sign-in-button-google-uYj {
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
    padding: 0.8rem 13.42rem 0.928rem 10.2rem;
    height: 5.7597rem;
    position: absolute;
    top: 79.8rem;
    display: flex;
    align-items: center;
    border: solid 0.1rem rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    width: 48.64rem;
    left: 47.8rem;
    border-radius: 1.2rem;

    .logos-facebook-Cnj {
      margin-right: 4.34rem;
      width: 4.48rem;
      height: 4.032rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .sign-in-with-facebook-8RV {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      color: #000000;
      margin-bottom: 0.9401rem;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.042rem;
    }
  }
  .email-form-bps {
    width: 48.8rem;
    height: 9.6475rem;
    position: absolute;
    left: 47.6rem;
    top: 35.5951rem;
    border-radius: 1.2rem;
    box-sizing: border-box;
    padding-left: 0.16rem;

    .email-JzB {
      line-height: 1.5;
      letter-spacing: 0.042rem;
      white-space: nowrap;
      margin-bottom: 1.7878rem;
      width: 100%;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      font-size: 1.4rem;
      font-weight: 500;
      color: #181818;
    }
    .auto-group-rwur-qDR {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.5;
      white-space: nowrap;
      letter-spacing: 0.042rem;
      color: #626263;
      font-family: Poppins, 'Source Sans Pro';
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
      border: solid 0.1rem rgba(0, 0, 0, 0.25);
      border-radius: 1.2rem;
      box-sizing: border-box;
      padding: 1.584rem 5.57rem 2.076rem 5.57rem;
      width: 100%;
      text-align: center;
    }
  }
  .password-form-GJj {
    top: 48.2664rem;
    border-radius: 1.2rem;
    box-sizing: border-box;
    padding-bottom: 0rem;
    width: 48.64rem;
    height: 9.6475rem;
    position: absolute;
    left: 47.76rem;

    .password-nXy {
      margin-bottom: 1.7878rem;
      width: 100%;
      text-align: center;
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: 0.042rem;
      color: #181818;
      font-family: Poppins, 'Source Sans Pro';
      line-height: 1.5;
      white-space: nowrap;
    }
    .auto-group-wtsm-KH1 {
      padding: 1.584rem 4.58rem 2.076rem 4.58rem;
      font-weight: 300;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      box-sizing: border-box;
      width: 100%;
      text-align: center;
      letter-spacing: 0.042rem;
      color: #626263;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
      font-size: 1.4rem;
      line-height: 1.5;
      border: solid 0.1rem rgba(0, 0, 0, 0.25);
      border-radius: 1.2rem;
    }
  }
  .headline-AYX {
    width: 47.8rem;
    height: 10.8rem;
    position: absolute;
    left: 48.2rem;
    top: 20.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .home-page-hYT {
      text-transform: uppercase;
      color: #030303;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.12rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0.24rem 1.5rem 0rem;
      text-align: center;
      font-size: 4rem;
      flex-shrink: 0;
    }
    .welcome-back-please-enter-your-details-Ck7 {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      line-height: 1.5;
      letter-spacing: 0.066rem;
      color: #626263;
      flex-shrink: 0;
      font-size: 2.2rem;
      font-weight: 400;
    }
  }
  .remember-forgot-KZq {
    box-sizing: border-box;
    padding-right: 3.21rem;
    width: 47.84rem;
    left: 48.56rem;
    align-items: flex-start;
    border-radius: 0.4rem;
    height: 2.5919rem;
    position: absolute;
    top: 60.9378rem;
    display: flex;

    .rectangle-4-DfD {
      margin: 0.288rem 3.81rem 0rem 0rem;
      width: 2.24rem;
      height: 1.8719rem;
      border: solid 0.1rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      border-radius: 0.4rem;
      flex-shrink: 0;
    }
    .remember-me-j7m {
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.5;
      margin-right: 18.38rem;
      letter-spacing: 0.036rem;
      color: #181818;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 500;
    }
    .forgot-password-rTH {
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.5;
      letter-spacing: 0.036rem;
      color: #181818;
    }
  }
  .health-and-fitness-assistant-NgX {
    position: absolute;
    top: 1.1rem;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.144rem;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 72.2rem;
    height: 7.2rem;
    left: 5rem;
    font-size: 4.8rem;
    line-height: 1.5;
    color: #000000;
  }
  .solar-call-chat-outline-sNP {
    top: 1.8503rem;
    object-fit: contain;
    vertical-align: top;
    width: 4.9271rem;
    height: 4.2998rem;
    position: absolute;
    left: 89.2865rem;
  }
  .emergency-nkF {
    height: 5.4rem;
    position: absolute;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.108rem;
    white-space: nowrap;
    width: 21.5rem;
    left: 95.05rem;
    top: 1rem;
    text-align: center;
    color: #000000;
    font-family: Poppins, 'Source Sans Pro';
  }
  .bytesize-location-hMR {
    position: absolute;
    left: 118.7985rem;
    top: 1.325rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.5031rem;
    height: 4.55rem;
  }
  .location-pKZ {
    width: 16.3rem;
    top: 1rem;
    text-align: center;
    font-family: Poppins, 'Source Sans Pro';
    color: #000000;
    height: 5.4rem;
    position: absolute;
    left: 123.6rem;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.108rem;
    white-space: nowrap;
  }
  .rectangle-6-sYj {
    width: 144rem;
    height: 8.3rem;
    position: absolute;
    left: 0;
    top: 8.7rem;
    background-color: rgba(217, 217, 217, 0.5600000024);
  }
  .home-Cqu {
    letter-spacing: 0.108rem;
    font-family: Poppins, 'Source Sans Pro';
    top: 10.2rem;
    font-size: 3.6rem;
    position: absolute;
    left: 6.8rem;
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    width: 11.3rem;
    height: 5.4rem;
    white-space: nowrap;
  }
  .services-qts {
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    height: 5.4rem;
    position: absolute;
    left: 28.45rem;
    font-weight: 500;
    line-height: 1.5;
    color: #000000;
    width: 16rem;
    top: 9.9rem;
    text-align: center;
    font-size: 3.6rem;
    letter-spacing: 0.108rem;
  }
  .medical-icon-i-social-services-kkw {
    box-sizing: border-box;
    padding: 0.501rem 0.881rem 0.501rem 0.725rem;
    height: 4.8986rem;
    position: absolute;
    left: 22.3107rem;
    top: 10.3451rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('REPLACE_IMAGE:25:50');
    width: 5.1302rem;
    background-repeat: no-repeat;

    .vector-qnP {
      width: 3.5244rem;
      height: 2.1627rem;
      object-fit: contain;
      vertical-align: top;
    }
  }
  .heroicons-home-solid-ZiP {
    vertical-align: top;
    width: 4.4665rem;
    height: 4.4165rem;
    position: absolute;
    left: 0.9167rem;
    top: 10.7772rem;
    object-fit: contain;
  }
  .about-us-HeP {
    color: #000000;
    position: absolute;
    top: 10.2rem;
    letter-spacing: 0.108rem;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    width: 17.2rem;
    height: 5.4rem;
    left: 51.5rem;
    white-space: nowrap;
  }
}
